
<h1>resistencias</h1>

<div>
  <div class="tablar">

    <table>
      <tr>
        <td> <label for="num1" class="form-label"></label> </td>
        <td class="gris"> <label for="num1" class="form-label">1ra. Banda</label> </td>
        <tr>
          <td> <input type="radio" id="col" name="1col" [(ngModel)]="resistencia.val1" value="0"> </td>
          <td class="negro"> <label for="num1" class="form-label">0</label> </td>
        </tr>
        <tr>
          <td> <input type="radio" id="col" name="1col" [(ngModel)]="resistencia.val1" value="1"> </td>
          <td class="cafe"> <label for="num1" class="form-label">1</label> </td>
        </tr>
        <tr>
          <td> <input type="radio" id="col" name="1col" [(ngModel)]="resistencia.val1" value="2"> </td>
          <td class="rojo"> <label for="num1" class="form-label">2</label> </td>
        </tr>
        <tr>
          <td> <input type="radio" id="col" name="1col" [(ngModel)]="resistencia.val1" value="3"> </td>
          <td class="naranja"> <label for="num1" class="form-label">3</label> </td>
        </tr>
        <tr>
          <td> <input type="radio" id="col" name="1col" [(ngModel)]="resistencia.val1" value="4"> </td>
          <td class="amarillo"> <label for="num1" class="form-label">4</label> </td>
        </tr>
        <tr>
          <td> <input type="radio" id="col" name="1col" [(ngModel)]="resistencia.val1" value="5"> </td>
          <td class="verde"> <label for="num1" class="form-label">5</label> </td>
        </tr>
        <tr>
          <td> <input type="radio" id="col" name="1col" [(ngModel)]="resistencia.val1" value="6"> </td>
          <td class="azul"> <label for="num1" class="form-label">6</label> </td>
        </tr>
        <tr>
          <td> <input type="radio" id="col" name="1col" [(ngModel)]="resistencia.val1" value="7"> </td>
          <td class="morado"> <label for="num1" class="form-label">7</label> </td>
        </tr>
        <tr>
          <td> <input type="radio" id="col" name="1col" [(ngModel)]="resistencia.val1" value="8"> </td>
          <td class="gris"> <label for="num1" class="form-label">8</label> </td>
        </tr>
        <tr>
          <td> <input type="radio" id="col" name="1col" [(ngModel)]="resistencia.val1" value="9"> </td>
          <td class="plata"> <label for="num1" class="form-label">9</label> </td>
        </tr>
    </table>

    <table>
      <tr>
        <td> <label for="num1" class="form-label"></label> </td>
        <td class="gris"> <label for="num1" class="form-label">2da. Banda</label> </td>
        <tr>
          <td> <input type="radio" id="col" name="2col" [(ngModel)]="resistencia.val2" value="0"> </td>
          <td class="negro"> <label for="num1" class="form-label">0</label> </td>
        </tr>
        <tr>
          <td> <input type="radio" id="col" name="2col" [(ngModel)]="resistencia.val2" value="1"> </td>
          <td class="cafe"> <label for="num1" class="form-label">1</label> </td>
        </tr>
        <tr>
          <td> <input type="radio" id="col" name="2col" [(ngModel)]="resistencia.val2" value="2"> </td>
          <td class="rojo"> <label for="num1" class="form-label">2</label> </td>
        </tr>
        <tr>
          <td> <input type="radio" id="col" name="2col" [(ngModel)]="resistencia.val2" value="3"> </td>
          <td class="naranja"> <label for="num1" class="form-label">3</label> </td>
        </tr>
        <tr>
          <td> <input type="radio" id="col" name="2col" [(ngModel)]="resistencia.val2" value="4"> </td>
          <td class="amarillo"> <label for="num1" class="form-label">4</label> </td>
        </tr>
        <tr>
          <td> <input type="radio" id="col" name="2col" [(ngModel)]="resistencia.val2" value="5"> </td>
          <td class="verde"> <label for="num1" class="form-label">5</label> </td>
        </tr>
        <tr>
          <td> <input type="radio" id="col" name="2col" [(ngModel)]="resistencia.val2" value="6"> </td>
          <td class="azul"> <label for="num1" class="form-label">6</label> </td>
        </tr>
        <tr>
          <td> <input type="radio" id="col" name="2col" [(ngModel)]="resistencia.val2" value="7"> </td>
          <td class="morado"> <label for="num1" class="form-label">7</label> </td>
        </tr>
        <tr>
          <td> <input type="radio" id="col" name="2col" [(ngModel)]="resistencia.val2" value="8"> </td>
          <td class="gris"> <label for="num1" class="form-label">8</label> </td>
        </tr>
        <tr>
          <td> <input type="radio" id="col" name="2col" [(ngModel)]="resistencia.val2" value="9"> </td>
          <td class="plata"> <label for="num1" class="form-label">9</label> </td>
        </tr>
    </table>

    <table>
      <tr>
        <td> <label for="num1" class="form-label"></label> </td>
        <td class="gris"> <label for="num1" class="form-label">3ra. Banda multiplicador</label> </td>
        <tr>
          <td> <input type="radio" id="col" name="3col" [(ngModel)]="resistencia.multiplicador" value="1"> </td>
          <td class="negro"> <label for="num1" class="form-label">x1</label> </td>
        </tr>
        <tr>
          <td> <input type="radio" id="col" name="3col" [(ngModel)]="resistencia.multiplicador" value="10"> </td>
          <td class="cafe"> <label for="num1" class="form-label">x10</label> </td>
        </tr>
        <tr>
          <td> <input type="radio" id="col" name="3col" [(ngModel)]="resistencia.multiplicador" value="100"> </td>
          <td class="rojo"> <label for="num1" class="form-label">x100</label> </td>
        </tr>
        <tr>
          <td> <input type="radio" id="col" name="3col" [(ngModel)]="resistencia.multiplicador" value="1000"> </td>
          <td class="naranja"> <label for="num1" class="form-label">x1000</label> </td>
        </tr>
        <tr>
          <td> <input type="radio" id="col" name="3col" [(ngModel)]="resistencia.multiplicador" value="10000"> </td>
          <td class="amarillo"> <label for="num1" class="form-label">x10000</label> </td>
        </tr>
        <tr>
          <td> <input type="radio" id="col" name="3col" [(ngModel)]="resistencia.multiplicador" value="100000"> </td>
          <td class="verde"> <label for="num1" class="form-label">x100000</label> </td>
        </tr>
        <tr>
          <td> <input type="radio" id="col" name="3col" [(ngModel)]="resistencia.multiplicador" value="1000000"> </td>
          <td class="azul"> <label for="num1" class="form-label">x1000000</label> </td>
        </tr>
        <tr>
          <td> <input type="radio" id="col" name="3col" [(ngModel)]="resistencia.multiplicador" value="10000000"> </td>
          <td class="morado"> <label for="num1" class="form-label">x10000000</label> </td>
        </tr>
        <tr>
          <td> <input type="radio" id="col" name="3col" [(ngModel)]="resistencia.multiplicador" value="100000000"> </td>
          <td class="gris"> <label for="num1" class="form-label">x100000000</label> </td>
        </tr>
        <tr>
          <td> <input type="radio" id="col" name="3col" [(ngModel)]="resistencia.multiplicador" value="1000000000"> </td>
          <td class="plata"> <label for="num1" class="form-label">x1000000000</label> </td>
        </tr>
    </table>

  </div>

  <br>

  <div class="porce">
    <div>
    <table>
        <tr>
          <td> <input type="radio" id="col" name="desc" [(ngModel)]="resistencia.tolerancia" value="5"> </td>
          <td class="dorado"> <label for="num1" class="form-label">Dorado 5%</label> </td>
        </tr>
        <tr>
          <td> <input type="radio" id="col" name="desc" [(ngModel)]="resistencia.tolerancia" value="10"> </td>
          <td class="plata"> <label for="num1" class="form-label">Plata 10%</label> </td>
        </tr>
    </table>
  </div>

  <div>
    <button type="button" class="btn btn-primary mt-3" (click)="calcular()">Calcular</button>
  </div>
  </div>

  <br>

  <div>
    <table>
        <tr>
          <td> <label for="num1" class="form-label">color 1 </label> </td>
          <td> <label for="num1" class="form-label">color 2 </label> </td>
          <td> <label for="num1" class="form-label">color 3 </label> </td>
          <td> <label for="num1" class="form-label">tolerancia</label> </td>
          <td> <label for="num1" class="form-label">valor</label> </td>
          <td> <label for="num1" class="form-label">valor maximo</label> </td>
          <td> <label for="num1" class="form-label">valor minimo</label> </td>
        </tr>
        <tr>
            <td >{{ resistencia.color1 }}</td>
            <td >{{ resistencia.color2 }}</td>
            <td >{{ resistencia.color3 }}</td>
            <td >{{ resistencia.toleranciaColor }}</td>
            <td> {{ resistencia.valor }} </td>
            <td> {{ resistencia.valorMaximo }} </td>
            <td> {{ resistencia.valorMinimo }} </td>
        </tr>
    </table>
  </div>

</div>
